*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sometype Mono', monospace;
}

/* Header */
nav{
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.row-nav{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Items Header */

.col-nav a{
    background-color: white;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0 10px;   
    text-decoration: none;
    font-weight: 800;
}

/* Main */

.box{
    width: 100%;
    height: 100vh ;
    position: relative;
}

.cont-box{
    max-width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Items Main */

.cont-box img{
    width: 100%;
}

.text{
    width: 100%;
    font-size: 4em;
    font-variant:small-caps;
    font-weight: bolder;
}



.pointer:hover{
    cursor: pointer;
}

.text-yellow{
    color: yellow;
}

.text-green{
    color: green;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

